<div class="col-xs-10 cold xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://github.com/DRot88">Daniel Rotenberg</a> with the help of <a target="_blank" href="http://www.thefirehoseproject.com">The Firehose Project</a>, a web development apprenticeship program. Splurty will be used to encourage motivation in people around the world. Whenever you need a spark of inspiration, Splurty will by your side. This inspirition should be used to elevate you to new heights and always remember that your goals are achievable and <strong>YOU WILL SUCCEED</strong>.
	</p>
	<br />
	

	<div class="col-xs-12 col-sm-4">
		 <%= image_tag 'Daniel.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Daniel Rotenberg</h2>
		<br />
		<p>
		Daniel started his career in the finance world, working for one of the top pharmaceutical advertising agencies in the world. Soon after excelling in his current career, he realized he had a greater need for challenges. His passion for learing and problem solving led him to his current journey into the world of web development. Daniel is an aspiring web developer who is looking to join a team ready to change the programming world, one line of code at a time.
		</p> 
	</div>
	<br class="clear" />
	<br />
	<br />

	<p>If you would like to hire Daniel, start by contacting him on <a target="_blank" href="https://www.linkedin.com/profile/view?id=124326443">LinkedIn</a> or feel free to<a href="mailto:Daniel.Rotenberg88@gmail.com"> send an email</a> 
	</p>
	<br class="clear"/>
	<br />
	<br />

</div>